* {
    font-family: "Share Tech Mono";
}

html {
    font-size: 9px;
}

#body {
    overflow: hidden;
}

#body-container {
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#body-container::-webkit-scrollbar {
    display: none;
}

#navbar {
    background-color: #F5C32C;
    opacity: 0;
    height: 4.5rem;
}

.navbar-collapse {
    padding: 0.5rem 0;
    background-color: #F5C32C;
    transition: 200ms;
}

.navbar:hover .navbar-collapse {
    background-color: #EBEBEB;
}

#navbar-toggler-icon {
    min-height: 4rem;
    min-width: 4rem;
}

#navbar:hover {
    background-color: #EBEBEB;
}

#navbar:hover .navbar-item-custom {
    color: #33658A;
}

#navbar:hover .navbar-item-custom:hover {
    color: #F5C32C;
}

.navbar .navbar-item-custom {
    color: #707070;
    font-size: 1.5rem;
    transition: 200ms;
}

#brand {
    font-family: monoton;
    font-size: 2.7rem;
}

.section {
    padding: 7.5rem 1.7rem;
}

.section-light {
    background-color: #707070;
}

.section-dark {
    background-color: #1F1F1F;
}

#title {
    min-height: 100vh;
    display: flex;
    justify-content: stretch;
    padding: 0;
    overflow: hidden;
}

#title-left {
    padding-top: 10rem;
    flex: 3;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#title-previews {
    margin-top: 7rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 17rem;
}

#title-previews a {
    width: 40%;
    box-shadow: -3px 3px 20px #A0A0A0;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #33658A;
    margin: 0 1.5rem;
    transition: 300ms;
    cursor: pointer;
}

#title-previews a:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.title-preview img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.title-preview p {
    font-size: 1.6rem;
    text-align: center;
}

#title-right {
    padding-top: 4.5rem;
    flex: 1;
    min-height: 100%;
    box-shadow: 0px -5px 30px 30px #33658A;
}

#title-right img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

#title-description {
    width: 100%;
    height: 70%;
    color: #EBEBEB;
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: #33658A;
}

#title-description a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: #F5C32C;
    font-size: 1.7rem;
    transition: 200ms;
}

#title-description a:hover {
    color: #EBEBEB;
}

.section-title {
    color: #EBEBEB;
    font-family: monoton;
    font-size: 5rem;
    text-align: center;
}

#main-title {
    font-size: 5rem;
    text-align: center;
    opacity: 0;
    margin: 0 1rem;
}

#main-subtitle {
    font-size: 2.5rem;
    text-align: center;
    opacity: 0;
}

#projects {
    color: #EBEBEB;
    font-size: 1.4rem;
}

.project-section-title {
    font-size: 2.5rem;
}

.project-title {
    font-size: 1.8rem;
}

.project-description {
    font-size: 1.1rem;
}

.project-a {
    text-decoration: none;
    color: #F5C32C;
}

.project-a:hover {
    text-decoration: underline;
    color: #EBEBEB;
}

.preview-img {
    border-radius: 10%;
    opacity: 0.9;
    transition: 500ms;
    height: 30rem;
}

#gaming-div {
    border-radius: 10%;
    height: 30rem;
}

#bookapp-img {
    background: url("images/bookapp-preview.jpg") center top / cover;
}

#bookapp-img:hover {
    background: url("images/bookapp-preview.jpg") center bottom / cover;
}

#react-img {
    background: url("images/relax-preview.jpg") left center / cover;
}

#react-img:hover {
    background: url("images/focus-preview.jpg") right center / cover;
}

#mortgage-img {
    background: url("images/mortgage-preview.jpg") left center / cover;
}

#mortgage-img:hover {
    background: url("images/mortgage-preview.jpg") right center / cover;
}

#sardegna-img {
    background: url("images/sardegna-preview.jpg") center top / cover;
}

#sardegna-img:hover {
    background: url("images/sardegna-preview.jpg") center bottom / cover;
}

#python-img {
    background: url("images/python-preview.jpg") left top / cover;
}

#python-img:hover {
    background: url("images/python-preview.jpg") left bottom / cover;
}

#root {
    border-radius: 15px;
    overflow: hidden;
}

#experience {
    max-height: 120rem;
}

.experience-row {
    max-height: 35rem;
}

.experience-card {
    position: relative;
    background-color: #EBEBEB;
    border-radius: 10px;
    opacity: 0.6;
    transition: 500ms;
}

.experience-card:hover {
    opacity: 1;
    z-index: 5;
}

.experience-card-title {
    font-size: 1.8rem;
    z-index: inherit;
}

.experience-card-title a {
    color: inherit;
}

.experience-card-title a:hover {
    color: #F5C32C;
}

.experience-card-subtitle {
    font-size: 1.5rem;
    z-index: inherit;
}

.experience-card-text {
    font-size: 1.3rem;
    z-index: inherit;
}

a.experience-card-text {
    color: #EBEBEB;
}

a.experience-card-text:hover {
    color: #F5C32C;
}

.experience-card-subtext {
    font-size: 1rem;
    z-index: inherit;
}

.experience-card-skill-list {
    list-style: none;
    font-size: 1.5rem;
}

.experience-card-list {
    list-style: none;
}

#experience-hyperion {
    transform: rotate(-7deg);
    background-color: #FBFBFB;
    color: #33658A;
    text-align: justify;
}

#experience-hyperion:hover {
    transform: translate(-5rem, 0) scale(1.2);
}

#experience-skills {
    transform: translate(0, 1rem) rotate(3deg);
    background-color: #A0A0A0;
    color: #FBFBFB;
}

#experience-skills:hover {
    transform: translate(3rem, -5rem) scale(1.2);
}

#experience-certificates {
    transform: translate(5rem, -5rem) rotate(10deg);
    z-index: 2;
    background-color: #33658A;
    color: #EBEBEB;
}

#experience-certificates:hover {
    transform: translate(0, 0) scale(1.2);
}

#experience-languages {
    transform: translate(0, -5rem) rotate(-3deg);
    background-color: #F5C32C;
    color: #707070;
}

#experience-languages:hover {
    transform: translate(5rem, 0) scale(1.2);
}

#experience-music {
    transform: translate(0, -10rem);
    background-color: #FBFBFB;
    color: #33658A;
}

#experience-music:hover {
    transform: translate(0, -5rem) scale(1.2);
}

#contacts {
    background-color: #EBEBEB;
    min-height: 100vh;
}

#contacts h2 {
    color: #33658A;
}

#contact-list {
    height: 25rem;
}

.contact-item {
    font-size: 2rem;
    text-decoration: none;
    color: #33658A;
    transition: 200ms;
}

.contact-item:hover {
    color: #F5C32C;
}

#footer {
    background-color: #33658A;
    height: 3rem;
}

@media (min-width: 768px) {
    .project-section {
        height: 40rem;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    #navbar {
        height: 6rem;
    }

    #experience-hyperion:hover {
        transform: translate(-5rem, 0) scale(1.2);
    }

    #experience-skills {
        transform: translate(0, 1rem) rotate(3deg);
    }

    #experience-skills:hover {
        transform: translate(3rem, -5rem) scale(1.2);
    }

    #experience-certificates {
        transform: translate(5rem, -15rem) rotate(10deg);
    }

    #experience-certificates:hover {
        transform: translate(0, -10rem) scale(1.2);
    }

    #experience-languages {
        transform: translate(0, -15rem) rotate(-3deg);
    }

    #experience-languages:hover {
        transform: translate(5rem, -10rem) scale(1.2);
    }

    #experience-music {
        transform: translate(0, -30rem);
    }

    #experience-music:hover {
        transform: translate(0, -25rem) scale(1.2);
    }
}

@media (max-width: 950px) {
    #title-description {
        padding: 1rem;
        font-size: 1.2rem;
    }

    #experience {
        max-height: 110rem;
    }

    .experience-card-skill-list {
        font-size: 1.2rem;
    }

    .experience-card-text {
        font-size: 1.2rem;
    }

    #experience-certificates {
        transform: translate(5rem, -15rem) rotate(10deg);
    }

    #experience-certificates:hover {
        transform: translate(15rem, -10rem) scale(1.2);
    }

    #experience-music {
        transform: translate(0, -20rem);
    }

    #experience-music:hover {
        transform: translate(0, -15rem) scale(1.2);
    }
}

@media (max-width: 800px) {
    .contact-item {
        font-size: 1.7rem;
    }
}

@media (max-width: 767px) {
    #bookapp-img,
    #react-img,
    #mortgage-img,
    #sardegna-img,
    #python-img {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
    }

    .project-img {
        height: 40rem;
        margin-bottom: 10rem;
    }

    .project-section:nth-of-type(1) {
        order: 1;
    }

    .project-section:nth-of-type(2) {
        order: 2;
    }

    .project-section:nth-of-type(3) {
        order: 4;
    }

    .project-section:nth-of-type(4) {
        order: 3;
    }

    .project-section:nth-of-type(5) {
        order: 5;
    }

    .project-section:nth-of-type(6) {
        order: 6;
    }

    .project-section:nth-of-type(7) {
        order: 8;
    }

    .project-section:nth-of-type(8) {
        order: 7;
    }

    .project-section:nth-of-type(9) {
        order: 9;
    }

    .project-section:nth-of-type(10) {
        order: 10;
    }

    .project-section:nth-of-type(11) {
        order: 12;
    }

    .project-section:nth-of-type(12) {
        order: 11;
    }

    .fullstack-item:nth-of-type(1) {
        order: 1;
    }

    .fullstack-item:nth-of-type(2) {
        order: 2;
    }

    .fullstack-item:nth-of-type(3) {
        order: 3;
    }

    #experience-hyperion:hover {
        transform: translate(15rem, 0) scale(1.2);
    }

    #experience-languages {
        transform: translate(0, 0) rotate(-3deg);
    }

    #experience-languages:hover {
        transform: translate(-15rem, 10rem) scale(1.2);
    }
}

@media (orientation: portrait) {
    #title-left {
        min-height: auto;
    }

    #title-previews {
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 55rem;
    }

    #title-previews a {
        margin: 2rem;
        height: 20rem;
    }
}

@media (max-width: 700px) {
    #title {
        overflow: visible;
        flex-direction: column;
    }

    #title-right {
        margin: 5rem 0 0 0;
        padding-top: 0;
        box-shadow: 0px -25px 25px 15px #ACCCE3;
    }

    #title-description {
        padding: 2.5rem;
        margin: 0;
        font-size: 1.3rem;
        background-color: #1F1F1F;
    }

    #title-description a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: underline;
        color: #F5C32C;
        font-size: 2rem;
        transition: 200ms;
    }

    #title-right img {
        height: 25rem;
    }

    #contact-list {
        flex-direction: column;
        height: 50rem;
    }

    .contact-item {
        font-size: 2.2rem;
    }

    #main-title {
        font-size: 5rem;
        position: static;
        text-align: center;
    }

    #main-subtitle {
        font-size: 3rem;
        position: static;
        text-align: center;
    }
}

@media (max-width: 575px) {
    #title-previews {
        padding: 2rem 0;
    }

    #title-previews a {
        width: 40%;
        height: 17rem;
        margin: 1rem;
    }

    .project-img {
        height: 35rem;
        margin-bottom: 8rem;
    }

    #experience {
        max-height: 120rem;
    }

    .experience-row {
        max-height: 45rem;
    }

    #experience-hyperion:hover {
        transform: translate(7rem, 0) scale(1.2);
    }

    #experience-skills:hover {
        transform: translate(-2rem, -5rem) scale(1.2);
    }

    #experience-certificates {
        transform: translate(5rem, -25rem) rotate(10deg);
        z-index: 4;
    }

    #experience-certificates:hover {
        transform: translate(0, -20rem) scale(1.1);
    }

    #experience-languages {
        transform: translate(0, -28rem) rotate(-3deg);
        z-index: 3;
    }

    #experience-languages:hover {
        transform: translate(5rem, -25rem) scale(1.2);
    }

    #experience-music {
        transform: translate(8rem, -45rem) rotate(-25deg);
        z-index: 2;
    }

    #experience-music:hover {
        transform: translate(0, -40rem) scale(1.1);
        z-index: 5;
    }
}

@media (max-width: 500px) {
    #title-right img {
        height: 17rem;
    }

    #main-title {
        font-size: 4rem;
    }

    #main-subtitle {
        font-size: 2rem;
    }

    #experience-hyperion .experience-card-text {
        text-align: left;
    }

    .professional {
        display: none;
    }
}