* {
    font-family: "Share Tech Mono";
}

html {
    font-size: 11px;
}

#body {
    overflow-y: hidden;
}

#navbar {
    background-color: #F5C32C;
    opacity: 0;
}

#navbar:hover {
    background-color: #EBEBEB;
}

#navbar:hover .navbar-item-custom {
    color: #33658A;
}

#navbar:hover .navbar-item-custom:hover {
    /*color:F6AE2D;*/
    color: #F5C32C;
}

.navbar .navbar-item-custom {
    color: #707070;
    font-size: 1.5rem;
    transition: 200ms;
}

#brand {
    font-family: monoton;
    font-size: 2.7rem;
}

.section {
    padding: 7.5rem 1.7rem;
}

.main-section {
    background: url(images/background.png);
}

.section-light {
    background-color: #707070;
}

.section-dark {
    background-color: #1F1F1F;
}

#title,
#contacts {
    min-height: 100vh;
}

.section-title {
    color: #EBEBEB;
    font-family: monoton;
    font-size: 5rem;
    text-align: center;
}

#main-title {
    font-size: 6rem;
    position: absolute;
    top: 21rem;
    left: 8.3rem;
    opacity: 0;
}

#main-subtitle {
    font-size: 3rem;
    position: absolute;
    top: 27.8rem;
    left: 32.5rem;
    opacity: 0;
}

#about {
    color: #EBEBEB;
    font-size: 1.4rem;
}

#about-img {
    object-fit: cover;
    border-radius: 10%;
}

#projects {
    color: #EBEBEB;
    font-size: 1.4rem;
}

.preview-img {
    border-radius: 10%;
    opacity: 0.9;
    transition: 500ms;
    min-height: 30rem;
}

#bookapp-img {
    background: url("images/bookapp-preview.jpg") center top / cover;
}

#bookapp-img:hover {
    background: url("images/bookapp-preview.jpg") center bottom / cover;
}

#mortgage-img {
    background: url("images/mortgage-preview.jpg") left center / cover;
}

#mortgage-img:hover {
    background: url("images/mortgage-preview.jpg") right center / cover;
}

#sardegna-img {
    background: url("images/sardegna-preview.jpg") center top / cover;
}

#sardegna-img:hover {
    background: url("images/sardegna-preview.jpg") center bottom / cover;
}

#python-img {
    background: url("images/python-preview.jpg") left top / cover;
}

#python-img:hover {
    background: url("images/python-preview.jpg") left bottom / cover;
}

#experience {
    max-height: 120rem;
}

.experience-row {
    max-height: 60vh;
}

.experience-card {
    position: relative;
    background-color: #EBEBEB;
    border-radius: 10px;
    opacity: 0.6;
    transition: 500ms;
}

.experience-card:hover {
    opacity: 1;
    z-index: 3;
}

.experience-card-title {
    font-size: 2rem;
    z-index: inherit;
}

.experience-card-text {
    font-size: 1.3rem;
    z-index: inherit;
}

a.experience-card-text {
    color: #EBEBEB;
}

a.experience-card-text:hover {
    color: #F5C32C;
}

.experience-card-subtext {
    font-size: 1rem;
    z-index: inherit;
}

.experience-card-skill-list {
    list-style: none;
    font-size: 1.5rem;
}

.experience-card-list {
    list-style: none;
}

#experience-hyperion {
    transform: rotate(-7deg);
    background-color: #FBFBFB;
    color: #33658A;
}

#experience-hyperion:hover {
    transform: translate(-5rem, 0) scale(1.2);
}

#experience-skills {
    transform: translate(0, 1rem) rotate(3deg);
    background-color: #A0A0A0;
    color: #FBFBFB;
}

#experience-skills:hover {
    transform: translate(3rem, -5rem) scale(1.2);
}

#experience-certificates {
    transform: translate(5rem, -5rem) rotate(10deg);
    z-index: 2;
    background-color: #33658A;
    color: #EBEBEB;
}

#experience-certificates:hover {
    transform: translate(0, 0) scale(1.2);
}

#experience-languages {
    transform: translate(0, -5rem) rotate(-3deg);
    background-color: #F5C32C;
    color: #707070;
}

#experience-languages:hover {
    transform: translate(5rem, 0) scale(1.2);
}

#experience-music {
    transform: translate(0, -10rem);
    background-color: #FBFBFB;
    color: #33658A;
}

#experience-music:hover {
    transform: translate(0, -5rem) scale(1.2);
}

#contacts {
    background-color: #EBEBEB;
}

#contacts h2 {
    color: #33658A;
}

#contact-list {
    height: 25rem;
}

.contact-item {
    font-size: 2rem;
    text-decoration: none;
    color: #33658A;
    transition: 200ms;
}

.contact-item:hover {
    color: #F5C32C;
}

#footer {
    background-color: #33658A;
    height: 3rem;
}

@media (min-width: 1300px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 18px;
    }
}